# Dependencias
node_modules/
**/node_modules/

# Next.js
.next/
out/

# Variables de entorno (NUNCA subir a GitHub)
.env
.env.local
.env.development
.env.production
.env.test

# Expo / React Native
.expo/
dist/
web-build/

# Logs
*.log
npm-debug.log*

# Sistema operativo
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Vercel
.vercel